@use "../abstracts/variables";
@use "../abstracts/mixins";

.footer {
  padding-block-start: variables.$fluid-top;
  padding-block-end: variables.$fluid-bottom;

  .wrapper {
    @include mixins.wrapper;
  }

  .brands {
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .icons {
    list-style-type: none;
    border: 1px solid variables.$white;
    border-radius: 50%;
    cursor: pointer;
    transition: 220ms all ease-in-out;

    &:hover {
      border-color: variables.$soft-magenta;
    }

    a {
      border-radius: 50%;
      width: 100%;
      display: block;
      padding: 0.5rem;

      &:focus-visible {
        @include mixins.focus;
      }
    }
  }

  .icon {
    @include mixins.icon;
    color: variables.$white;
    transition: 220ms all ease-in-out;

    &:hover {
      color: variables.$soft-magenta;
    }
  }

  @media (min-width: 64rem) {
    .brands {
      justify-content: flex-end;
      margin-inline-end: 6rem;
    }
  }
}
