@font-face {
  font-family: "OpenSans Regular";
  src: url("/src/assets/fonts/OpenSans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("/src/assets/fonts/poppins-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("/src/assets/fonts/poppins-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
